<template>
    <organization-home :path="path"/>
</template>

<script setup>
import {useRoute} from "vue-router";
import {computed} from "vue";
import OrganizationHome from "@/components/organization/OrganizationHome.vue";

const route = useRoute();

const path = computed(() => route.params.path)
</script>
