<template>
    <v-tooltip :text="visibilityText">
        <template #activator="{ props }">
            <v-icon v-bind="props" size="x-small">{{ visibilityIcon }}</v-icon>
        </template>
    </v-tooltip>
</template>

<script setup>
import {computed} from "vue";
import {string} from "vue-types";

const props = defineProps({
    visibility: string().isRequired
})

const visibilityData = {
    public: {
        text: 'public',
        icon: 'mdi-earth'
    },
    private: {
        text: 'private',
        icon: 'mdi-lock'
    }
}

const visibilityText = computed(() => visibilityData[props.visibility]?.text)
const visibilityIcon = computed(() => visibilityData[props.visibility]?.icon)
</script>
