<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>{{ t('Home|Your organizations') }}</v-card-title>
                    <v-card-text>
                        <v-list>
                            <v-list-item
                                v-for="organization in visibleOrganizations"
                                :key="organization.id"
                                :to="{ name: 'organization-home', params: { path: organization.path } }"
                            >
                                {{ organization.name }}
                                <visibility-icon :visibility="organization.visibility"/>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import {useQuery} from "@vue/apollo-composable";
import {computed} from "vue";
import {useTitle} from "@vueuse/core";
import {toTitle} from "@/utils/helpers";
import CurrentUserHomeQuery from "./graphql/VroxagonHome.query.graphql";
import {useFilter} from "ramda-reactive";
import {identity} from "ramda";
import VisibilityIcon from "@/components/shared/VisibilityIcon.vue";
import {useI18n} from "@/plugins/i18n";

const { t } = useI18n();

const { result } = useQuery(CurrentUserHomeQuery)

const organizations = computed(() => result.value?.currentUser?.organizations?.nodes ?? [])
const visibleOrganizations = useFilter(identity, organizations)

useTitle(toTitle([t('Home')]));
</script>
