<template>
    <default-layout>
        <vroxagon-home/>
    </default-layout>
</template>

<script setup>
import DefaultLayout from "@/layouts/default/DefaultLayout.vue";
import VroxagonHome from "@/components/home/VroxagonHome.vue";
</script>
