<template>
    <minimal-centered-layout>
        <div class="w-33 h-50">
            <v-alert v-if="errorMessage" type="error">{{ errorMessage }}</v-alert>
            <div class="d-flex justify-space-around w-100 my-4">
                <div class="w-33">
                    <v-img :src="logoPath"/>
                </div>
            </div>
            <v-form @submit.prevent="login">
                <v-text-field v-model="username" :label="t('Username')"/>
                <v-text-field v-model="password" type="password" :label="t('Password')"/>
                <v-btn block color="primary" type="submit">{{ t('Login') }}</v-btn>
            </v-form>
        </div>
    </minimal-centered-layout>
</template>

<script setup>
import logoPath from "@/assets/vroxManagementLogo.png";
import MinimalCenteredLayout from "@/layouts/minimal/MinimalCenteredLayout.vue";
import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useAuthenticationStore} from "@/utils/useAuthenticationStore";
import {useRouter} from "vue-router";
import {useI18n} from "@/plugins/i18n";

const { t } = useI18n();
const { push: redirect } = useRouter();

const { session } = storeToRefs(useAuthenticationStore());

const errorMessage = ref(undefined);

const username = ref('');
const password = ref('');

const forbiddenMessageMapping = {
    unverified_email: t('Login|This user must confirm the email before logging in'),
    policy_denied: t('Login|This user is not allowed to log in')
}

const login = async () => {
    const user = { username: username.value, password: password.value };

    const response = await fetch('/-/user_sessions', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ user })
    })

    if(response.status === 401) {
        errorMessage.value = t('Login|Invalid username or password');
        return;
    }
    if(response.status === 403) {
        errorMessage.value = forbiddenMessageMapping[(await response.json()).reason];
        return;
    }

    errorMessage.value = undefined;
    session.value = await response.json();
    await redirect({ name: 'index' });
}
</script>
