<template>
    <organization-layout>
        <router-view/>
    </organization-layout>
</template>

<script setup>
import OrganizationLayout from "@/layouts/organization/OrganizationLayout.vue";
</script>
