<template>
    <minimal-centered-layout>
        <div class="w-33 h-50">
            <v-alert v-if="errorMessage" type="error">
                {{ errorMessage }}
                <template v-if="errors">
                    <ul v-for="[key, messages] in Object.entries(errors)" :key="key">
                        <li v-for="(message, index) in messages" :key="index">&middot; {{ key }} {{ message }}</li>
                    </ul>
                </template>
            </v-alert>
            <v-alert v-if="registerSuccessful" type="success">
                {{ t('Register|Registration successful. Please check your emails and verify the account before logging in.') }}

                <br>

                <v-btn :to="{ name: 'login' }" variant="tonal">{{ t('Login') }}</v-btn>
            </v-alert>
            <div class="d-flex justify-space-around w-100 my-4">
                <div class="w-33">
                    <v-img :src="logoPath"/>
                </div>
            </div>
            <v-form @submit.prevent="register" :disabled="registerSuccessful">
                <v-text-field v-model="username" :label="t('Username')"/>
                <v-text-field v-model="email" :label="t('Email')"/>
                <v-text-field v-model="password" type="password" :label="t('Password')"/>
                <v-btn block color="primary" type="submit" :disabled="registerSuccessful">{{ t('Register') }}</v-btn>
            </v-form>
        </div>
    </minimal-centered-layout>
</template>

<script setup>
import logoPath from "@/assets/vroxManagementLogo.png";
import MinimalCenteredLayout from "@/layouts/minimal/MinimalCenteredLayout.vue";
import {ref} from "vue";
import {useRouter} from "vue-router";
import {useI18n} from "@/plugins/i18n";

const { t } = useI18n();
const { push: redirect } = useRouter();

const errorMessage = ref(undefined);
const errors = ref(undefined);
const registerSuccessful = ref(false);

const username = ref('');
const email = ref('');
const password = ref('');

const conflictMessageMapping = {
    username: t('Register|Username is already taken'),
    email: t('Register|Email is already taken')
}

const register = async () => {
    const user = { username: username.value, email: email.value, password: password.value };

    const response = await fetch('/-/users', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ user })
    })

    errorMessage.value = undefined;
    errors.value = undefined;
    registerSuccessful.value = false;

    if(response.status === 409) {
        const conflictingField = (await response.json()).errors;

        errorMessage.value = conflictMessageMapping[conflictingField];
        return;
    }
    if(response.status === 400) {
        errorMessage.value = t('Register|The form contains invalid information');
        errors.value = (await response.json()).errors;
        return;
    }

    registerSuccessful.value = true;
}
</script>
