You have successfully registered an account on Vroxagon.

Please verify your email by clicking <a href="<%= users_verify_url %>?user[token]=<%= @user.email_verification_token %>">the verification link</a>.
