<template>
    <v-list-group v-if="hasChildren">
        <template #activator="{ props }">
            <v-list-item
                v-bind="props"
                :title="name"
                :prepend-icon="icon"
            />
        </template>

        <v-list-item
            v-for="child in children"
            :key="child.name"
            :title="child.name"
            :to="child.to"
        />
    </v-list-group>

    <v-list-item
        v-else
        :title="name"
        :prepend-icon="icon"
        :to="to"
    />
</template>

<script setup>
import {arrayOf, shape, string} from "vue-types";
import {computed} from "vue";

const props = defineProps({
    name: string(),
    to: string(),
    icon: string(),
    children: arrayOf(shape({
        name: string(),
        to: string()
    })).def(() => [])
})

const hasChildren = computed(() => props.children.length > 0);
</script>

<style scoped>

</style>
