<template>
    <v-navigation-drawer permanent expand-on-hover :rail="mdAndDown">
        <v-list>
            <navigation-item
                v-for="item in navigationItems"
                :key="item.name"
                :name="item.name"
                :icon="item.icon"
                :to="item.to"
                :children="item.children"
            />
        </v-list>
    </v-navigation-drawer>
</template>

<script setup>
import NavigationItem from "@/components/navigation/NavigationItem.vue";
import {arrayOf, shape, string} from "vue-types";
import {useDisplay} from "vuetify";

defineProps({
    navigationItems: arrayOf(shape({
        name: string(),
        to: string(),
        icon: string(),
        children: arrayOf(shape({
            name: string(),
            to: string()
        }))
    }))
})

const { mdAndDown } = useDisplay();
</script>

<style scoped>

</style>
