<template>
    <default-layout>
        <navigation-list :navigation-items="navigationItems"/>
        <slot/>
    </default-layout>
</template>

<script setup>
import DefaultLayout from "@/layouts/default/DefaultLayout.vue";
import NavigationList from "@/components/navigation/NavigationList.vue";
import {useI18n} from "@/plugins/i18n";
import {computed} from "vue";
import {useRoute} from "vue-router";

const { t } = useI18n();

const route = useRoute();

const id = computed(() => route.params.id)

const navigationItems = computed(() => ([
    {
        name: t('Home'),
        to: { name: 'organization-home', params: { id: id.value } },
        icon: 'mdi-home'
    }
]))

</script>

<style scoped>

</style>
