<template>
    <v-container v-if="organization.id">
        <v-row>
            <v-col cols="12">
                <h2>
                    {{ organization.name }}
                    <visibility-icon :visibility="organization.visibility"/>
                </h2>
            </v-col>
        </v-row>
    </v-container>
    <v-progress-circular v-else indeterminate/>
</template>

<script setup>
import {useQuery} from "@vue/apollo-composable";
import OrganizationHomeQuery from "./graphql/OrganizationHome.query.graphql";
import {string} from "vue-types";
import {computed, toRefs} from "vue";
import {useTitle} from "@vueuse/core";
import {toTitle} from "@/utils/helpers";
import VisibilityIcon from "@/components/shared/VisibilityIcon.vue";

const props = defineProps({
    path: string().isRequired
})

const { path } = toRefs(props);

const { result } = useQuery(OrganizationHomeQuery, () => ({ path: path.value }))

const organization = computed(() => result.value?.organization ?? {})

useTitle(() => toTitle([organization.value?.name]));
</script>

