<template>
    <v-app-bar>
        <v-app-bar-title>
            <span class="c-pointer" @click="changeRoute({ name: 'index' })">Vroxagon</span>
        </v-app-bar-title>
        <template v-if="!isLoggedIn">
            <v-btn color="primary" class="mx-2" :to="{ name: 'register' }">{{ t('Register') }}</v-btn>
            <v-btn color="primary" variant="tonal" :to="{ name: 'login' }">{{ t('Login') }}</v-btn>
        </template>
        <template v-else>
            <v-btn @click="logout">{{ t('Logout') }}</v-btn>
        </template>
    </v-app-bar>
</template>

<script setup>
import {storeToRefs} from "pinia";
import {useAuthenticationStore} from "@/utils/useAuthenticationStore";
import {useI18n} from "@/plugins/i18n";
import {useRouter} from "vue-router";

const { t } = useI18n();
const { push: changeRoute } = useRouter();

const { isLoggedIn, session } = storeToRefs(useAuthenticationStore());

const logout = () => session.value = {};
</script>
