<template>
    <app-bar/>
    <v-main>
        <div class="ma-2">
            <slot/>
        </div>
    </v-main>
</template>

<script setup>
import AppBar from "@/layouts/default/AppBar.vue";
</script>
